html {
	background:#000000;
	background-size:cover;
	overflow-x:hidden;
	overflow-y:hidden;
}

a {
	display:block;
	padding:8px 10px;
	background:-moz-linear-gradient(#b4a7d6, rgba(102, 153, 255, .7));
	background:linear-gradient(#b4a7d6, rgba(102, 153, 255, .7));
	border-radius: 50%;
	border-bottom: 3px solid #3A3A3A;
	color:#fff;
	font:normal 700 15px/1 Verdana, Geneva, sans-serif;
	text-align:center;
	text-shadow:1px 1px 0 #000;
	width:60px;
	text-decoration:none;
	margin-top:20px;
}

a:hover {
	color:#00CC66;
}

.pet:hover {
	background:radial-gradient(circle, rgb(255, 255, 153) 30%, rgb(255, 255, 113) 85%);
	opacity:.7;
}

.talk:hover {
	background:radial-gradient(circle, rgb(255, 255, 153) 30%, rgb(255, 255, 113) 85%);
	opacity:.7;
}

.scream:hover {
	background:radial-gradient(circle, rgb(255, 255, 153) 30%, rgb(255, 255, 113) 85%);
	opacity:.7;
}

.pet:active {
	color:#FF0066;
	background:radial-gradient(circle, rgb(255, 255, 153) 30%, #FFFF66 85%);
	opacity:1;
}

.talk:active {
	color:#FF0066;
	background:radial-gradient(circle, rgb(255, 255, 153) 30%, #FFFF66 85%);
	opacity:1;
}

.scream:active {
	color:#FF0066;
	background:radial-gradient(circle, rgb(255, 255, 153) 30%, #FFFF66 85%);
	opacity:1;
}

ul {
	width:100px;
	position:relative;
	margin:0;
	padding:0;
}

li {
	margin:0;
	padding:0;
	list-style:none;
}

#container {
	position:relative;
	width:300px;
	height:450px;
	margin: -170px auto 0 auto;
}

.ray {
	position:relative;
	padding-bottom:0;
	opacity:.7;
	border-style: solid;
	border-width: 0 100px 400px 100px;
	border-color: transparent transparent #FFFF99;
}

#spotlight {
	position:relative;
	top:-50px;
	border-radius:50%;
	width:300px;
	height:100px;
	background:radial-gradient(circle, rgb(255, 255, 153) 10%, rgb(255, 255, 113) 85%);
}

.stomach {
	position:absolute;
	top:50%;
	left:50%;
	border-radius:50%;
	width:30px;
	height:40px;
	background-color:#3366CC;
	margin: -15px 0 0 -15px;
}

.head {
	position:absolute;
	top:21%;
	left:45.3%;
	border-radius:50%;
	width:28px;
	height:20px;
	background-color:#3366CC;
	box-shadow: -2px -8px 4px -1px rgba(136, 136, 136, .7);
}

.paw {
	position:absolute;
	top:50%;
	left:51%;
	background-color: #00CC66;
	width: 6px;
    	height: 6px;
    	border-radius:50%;
    	border-top-left-radius: 0;
    	border-top-right-radius: 0;
}

.paw2 {
	position:absolute;
	top:50%;
	left:47.3%;
	background-color: #00CC66;
	width: 6px;
    	height: 6px;
    	border-radius:50%;
    	border-top-left-radius: 0;
    	border-top-right-radius: 0;
}

.foot {
	position:absolute;
	top:70%;
	left:46.2%;
	background-color: #00CC66;
	width: 10px;
    	height: 7px;
    	border-radius:30%;
}

.foot2 {
	position:absolute;
	top:70%;
	left:50.2%;
	background-color: #00CC66;
	width: 10px;
    	height: 7px;
    	border-radius:30%;
}

.eye {
	position:absolute;
	top:24%;
	left:48%;
	border-radius:50%;
	width:3px;
	height:3px;
	background-color:black;
	animation-name: blink;
   	animation-duration: 8s;
    	animation-iteration-count: infinite;
    	transform-origin: 50%;
}

.eye2 {
	position:absolute;
	top:24%;
	left:50.5%;
	border-radius:50%;
	width:3px;
	height:3px;
	background-color:black;
	animation-name: blink;
    	animation-duration: 8s;
   	animation-iteration-count: infinite;
    	transform-origin: 50%;
}

@keyframes blink {
    	0% { transform: scaleX(1) scaleY(1); }
   	1% { transform: scaleX(1.3) scaleY(0.1); }
    	2% { transform: scaleX(1) scaleY(1); }
    	60% { transform: scaleX(1) scaleY(1); }
    	61% { transform: scaleX(1.3) scaleY(0.1);}
   	62% { transform: scaleX(1) scaleY(1); }
    	100% { transform: scaleX(1) scaleY(1); }
}

.nose {
	position:absolute;
	top:29%;
	left:49.2%;
	width:0;
	height:0;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	border-top: 4px solid #FF66FF;
}

.mouth {
	position:absolute;
	top:34%;
	left:48.8%;
	background-color: black;
	width: 7.2px;
    	height: 2px;
    	border-radius:50%;
    	border-bottom-left-radius: 0;
    	border-bottom-right-radius: 0;
}

.speaking {
	position:absolute;
	top:34%;
	left:48.8%;
	background-color: black;
	width: 7.2px;
    	height: 2px;
    	border-radius:50%;
    	border-bottom-left-radius: 0;
    	border-bottom-right-radius: 0;
	animation-name: speaking;
   	animation-duration: 8s;
    	animation-iteration-count: infinite;
    	transform-origin: 50%;
	display:none;
}

@keyframes speaking {
    	0% { transform: scaleX(1) scaleY(1); }
   	1% { transform: scaleX(.5) scaleY(1.7); }
    	20% { transform: scaleX(1) scaleY(1); }
	25% { transform: scaleX(.5) scaleY(1.7); }
    	45% { transform: scaleX(1) scaleY(1); }
    	70% { transform: scaleX(.7) scaleY(1.5);}
	75% { transform: scaleX(1) scaleY(1);}
    	92% { transform: scaleX(1) scaleY(1); }
    	100% { transform: scaleX(1) scaleY(1); }
}

.ear {
	position:absolute;
	top:10.6%;
	left:44.3%;
	width:15px;
	height:15px;
	border-radius:50%;
	box-shadow: -2px -8px 4px -1px rgba(136, 136, 136,.7);
	background:radial-gradient(circle, #FFAAFF 30%, #3366CC 10%);
}

.ear2 {
	position:absolute;
	top:10.6%;
	left:51%;
	width:15px;
	height:15px;
	border-radius:50%;
	box-shadow: -2px -8px 4px -1px rgba(136, 136, 136,.7);
	background:radial-gradient(circle, #FFAAFF 30%, #3366CC 10%);
}


.whisker {
	position: absolute;
	width: 9px;
	border-top: .05px solid black;
	transform: rotate(27deg);
	top:28%;
	left:45%;
}

.whisker2 {
	width: 9px;
	border-top: .05px solid black;
	transform: rotate(10deg);
	position: absolute;
	top:31%;
	left:45%;
}

.whisker3 {
	width: 9px;
	border-top: .05px solid black;
	transform: rotate(155deg);
	position: absolute;
	top:28%;
	left:51.5%;
}

.whisker4 {
	width: 9px;
	border-top: .05px solid black;
	transform: rotate(172deg);
	position: absolute;
	top:31%;
	left:51.5%;
}

.tail {
	width:40px;
	height:10px;
	position:absolute;
	left:38%;
	top:49%;
	border-radius:50%;
	border-top:2px solid #3366CC;
	transform: rotate(-20deg);
	box-shadow: -10px -4px 3px -3px rgba(136, 136, 136,.4);
}

.drop {
	width: 10px;
  	height: 10px;
  	border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  	transform: rotate(-45deg);
	background-color:#3366CC;
	position:absolute;
	-webkit-animation: water 5s ease-in infinite;
  	-moz-animation: water 5s ease-in infinite;
	display:none;
}

.drop2 {
	width: 10px;
  	height: 10px;
  	border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  	transform: rotate(-45deg);
	background-color:#3366CC;
	position:absolute;
	left:70%;
	-webkit-animation: water 5s ease-in infinite;
  	-moz-animation: water 5s ease-in infinite;
	display:none;
}

.drop3 {
	width: 10px;
  	height: 10px;
  	border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  	transform: rotate(-45deg);
	background-color:#3366CC;
	position:absolute;
	left:30%;
	-webkit-animation: water 5s ease-in infinite;
  	-moz-animation: water 5s ease-in infinite;
	display:none;
}

@-moz-keyframes water {
	0% {margin-top:-10px;}
	50%{margin-top:-10px;}
	90%{margin-top:400px;}
	100% {margin-top:410px;}
}

.wrinkle {
	width:5px;
	height:5px;
	position:absolute;
	top:22.3%;
	left:51%;
	border-radius:50%;
	border-top:1px solid black;
	transform: rotate(90deg);
	display:none;
}

.wrinkle2 {
	width:5px;
	height:5px;
	position:absolute;
	top:22.3%;
	left:47%;
	border-radius:50%;
	border-top:1px solid black;
	transform: rotate(-90deg);
	display:none;
}

.smile {
	width:7px;
	height:5px;
	position:absolute;
	border-radius:50%;
	border-top:1px solid black;
	transform: rotate(180deg);
	top:30%;
	left:48.8%;
	display:none;
}

.heart {
    	width: 10px;
    	height: 9px;
	left:45%;
	top:20%;
	position:absolute;
	-moz-animation:move 1s infinite linear;
  	-moz-animation-duration: 4s;
  	-moz-animation-name: heartUp;
  	-moz-animation-timing-function: ease-in;
  	-moz-animation-iteration-count: infinite;
	animation-duration: 4s;
  	animation-name: heartUp;
  	animation-timing-function: ease-in;
  	animation-iteration-count: infinite;
	display:none;
}

.heart:before, .heart:after {
    	position: absolute;
    	content: "";
    	left: 5px;
    	top: 0;
    	width: 5px;
    	height: 8px;
    	background: #fa3c88;
    
    	border-radius: 5px 5px 0 0;
    	-webkit-transform: rotate(-45deg);
      	-moz-transform: rotate(-45deg);
       	-ms-transform: rotate(-45deg);
       	-o-transform: rotate(-45deg);
      	transform: rotate(-45deg);
    	-webkit-transform-origin: 0 100%;
       	-moz-transform-origin: 0 100%;
      	-ms-transform-origin: 0 100%;
      	-o-transform-origin: 0 100%;
     	transform-origin: 0 100%;
}

.heart:after {
    	left: 0;
    	-webkit-transform: rotate(45deg);
       	-moz-transform: rotate(45deg);
      	-ms-transform: rotate(45deg);
      	-o-transform: rotate(45deg);
     	transform: rotate(45deg);
 	-webkit-transform-origin: 100% 100%;
     	-moz-transform-origin: 100% 100%;
     	-ms-transform-origin: 100% 100%;
      	-o-transform-origin: 100% 100%;
    	transform-origin :100% 100%;
}

@-moz-keyframes heartUp {
	0% {top:20%; left:45%;}
	10% {top:15%; left:47%;}
	20% {top:10%; left:45%;}
	30% {top:5%; left:43%;}
	40% {top:0; left:45%;}
	50% {top:-5%; left:47%;}
	60% {top:-10%; left:45%;}
	70% {top:-15%; left:43%;}
	80% {top:-20%; left:45%;}
	90% {top:-25%; left:47%;}
	100% {top:-30%; left:45%;}
}

@keyframes heartUp {
	0% {top:20%; left:45%;}
	10% {top:15%; left:47%;}
	20% {top:10%; left:45%;}
	30% {top:5%; left:43%;}
	40% {top:0; left:45%;}
	50% {top:-5%; left:47%;}
	60% {top:-10%; left:45%;}
	70% {top:-15%; left:43%;}
	80% {top:-20%; left:45%;}
	90% {top:-25%; left:47%;}
	100% {top:-30%; left:45%;}
}

#petbox {
	position:relative;
	width:500px;
	height:300px;
	margin:40px auto 0 auto;
	text-align:center;
	line-height:40px;
	color:white;
	display:none;
}

#talkbox {
	position:relative;
	width:500px;
	height:300px;
	margin:40px auto 0 auto;
	text-align:center;
	line-height:40px;
	color:white;
	display:none;
}

#screambox {
	position:relative;
	width:500px;
	height:300px;
	margin:40px auto 0 auto;
	text-align:center;
	line-height:40px;
	color:white;
	display:none;
}